django
pymongo
mongoengine
djangorestframework
drf-yasg
requests
django-environ
colorlog
djangorestframework-simplejwt
dnspython
debugpy
celery
redis
pika
gunicorn
python-jose
django-cors-headers
PyJWT[crypto]>=2.8.0
cryptography>=41.0.0
whitenoise
apscheduler
deepdiff